$font-stack: Helvetica, sans-serif
$primary-color: #333
body
  font: 100% $font-stack
  color: $primary-color

.App fieldset > *
  margin: 1em

.navigation
  padding: 0

.navigation-item
  margin: 0.5em 0
  padding: 0.25em 1em
  background-color: aquamarine
  cursor: pointer
  &:hover
    background-color: #63c5a4
    color: #f8f8f8
  &.active
    color: crimson

.elevation > div
  width: 10em
  height: 6em
  margin: 2em
  display: inline-block

.mdc-card--demo
  width: 350px
  min-height: 9em

.layout-grid--demo
  .mdc-layout-grid
    background-color: wheat
  .mdc-layout-grid__cell
    background-color: whitesmoke

.toolbar--demo
  width: 20em

.todo
  background-color: brown
  color: white

.todo-lite
  background-color: coral

.demo-simple-menu
  width: 100%
  height: 40em
  position: relative
  .mdc-menu-anchor
    position: absolute



.mdc-ripple-upgraded--background-active-fill:before
  -webkit-transition-duration: .12s
  opacity: 1

.mdc-ripple-upgraded--foreground-activation:after
  -webkit-animation: .3s mdc-ripple-fg-radius-in forwards, 83ms mdc-ripple-fg-opacity-in forwards
  animation: .3s mdc-ripple-fg-radius-in forwards, 83ms mdc-ripple-fg-opacity-in forwards
