
body{
    font-family: Roboto, sans-serif;
}
.table-props{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

.table-props thead tr:last-child {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #CCC;
}
.table-props tbody tr {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #CCC;
}
.table-props tbody tr:last-child {
    border-bottom: 0;
}
.table-props tbody tr:hover {
    background: #EEEEEE;
}
.table-props td, .table-props th {
    padding: 8px;
}
.demo-page-button > .mdc-button,
.demo-page-card > .mdc-card{
    margin: 10px;
}